*{
    box-sizing: border-box;  /* esto nos asegura que este incluido el alto y ancho de los elmentos con los bordes */
}

/* =========== Para una pagina simple de dos columnnas ================= */

.menu{
    width: 25%;
    float: left;
}

.main{
    padding: 2rem;
    font-size: x-large;
    width:75%;
    float: right;
}


@media (max-width: 768px) {
    .content{
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho en pantallas pequeñas */
        float: none; /* Elimina la propiedad float en pantallas pequeñas para que la imagen no flote */
    }
    .main {
        width: 100%; /* Asegúrate de que el artículo ocupe todo el ancho en pantallas pequeñas */
        float: none; /* Elimina la propiedad float en pantallas pequeñas para que el artículo no flote */
    }
    
}
